<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TravelTune</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .ui-autocomplete {
            position: absolute;
            z-index: 1050;
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #ddd;
            border-radius: 0.25rem;
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0,0,0,.1);
            width: auto;
        }
        .ui-autocomplete .ui-menu-item a {
            border-bottom: 1px solid #ddd;
            padding: 8px 10px;
            color: #333;
            display: block;
            font-weight: normal;
        }
        .ui-autocomplete .ui-menu-item a.ui-state-focus,
        .ui-autocomplete .ui-menu-item a:hover {
            background-color: #f8f9fa;
            color: #212529;
        }
        .ui-autocomplete .ui-menu-item:last-child a {
            border-bottom: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="my-4">Calculateur de Trajet avec Waze</h2>
        <form method="POST">
            <div class="form-group">
                <label for="start_address">Adresse de départ:</label>
                <input type="text" class="form-control" id="start_address" name="start_address" autocomplete="off">
                <input type="hidden" id="start_lat" name="start_lat">
                <input type="hidden" id="start_lng" name="start_lng">
            </div>
            <div class="form-group">
                <label for="end_address">Adresse d'arrivée:</label>
                <input type="text" class="form-control" id="end_address" name="end_address" autocomplete="off">
                <input type="hidden" id="end_lat" name="end_lat">
                <input type="hidden" id="end_lng" name="end_lng">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="avoid_tolls" name="avoid_tolls">
                <label class="form-check-label" for="avoid_tolls">Éviter les péages</label>
                <input type="checkbox" id="create_spotify_playlist" name="create_spotify_playlist">
                <label for="create_spotify_playlist">Créer une playlist Spotify pour le trajet</label>
            </div>
            <form id="genreForm" action="/submit_genres" method="post">
                <select name="genres" multiple>
                    <option value="acoustic">Acoustic</option>
                    <option value="afrobeat">Afrobeat</option>
                    <option value="alt-rock">Alt-Rock</option>
                    <option value="alternative">Alternative</option>
                    <option value="ambient">Ambient</option>
                    <option value="anime">Anime</option>
                    <option value="black-metal">Black Metal</option>
                    <option value="bluegrass">Bluegrass</option>
                    <option value="blues">Blues</option>
                    <option value="bossanova">Bossa Nova</option>
                    <option value="brazil">Brazil</option>
                    <option value="breakbeat">Breakbeat</option>
                    <option value="british">British</option>
                    <option value="cantopop">Cantopop</option>
                    <option value="chicago-house">Chicago House</option>
                    <option value="children">Children</option>
                    <option value="chill">Chill</option>
                    <option value="classical">Classical</option>
                    <option value="club">Club</option>
                    <option value="comedy">Comedy</option>
                    <option value="country">Country</option>
                    <option value="dance">Dance</option>
                    <option value="dancehall">Dancehall</option>
                    <option value="death-metal">Death Metal</option>
                    <option value="deep-house">Deep House</option>
                    <option value="detroit-techno">Detroit Techno</option>
                    <option value="disco">Disco</option>
                    <option value="disney">Disney</option>
                    <option value="drum-and-bass">Drum and Bass</option>
                    <option value="dub">Dub</option>
                    <option value="dubstep">Dubstep</option>
                    <option value="edm">EDM</option>
                    <option value="electro">Electro</option>
                    <option value="electronic">Electronic</option>
                    <option value="emo">Emo</option>
                    <option value="folk">Folk</option>
                    <option value="forro">Forró</option>
                    <option value="french">French</option>
                    <option value="funk">Funk</option>
                    <option value="garage">Garage</option>
                    <option value="german">German</option>
                    <option value="gospel">Gospel</option>
                    <option value="goth">Goth</option>
                    <option value="grindcore">Grindcore</option>
                    <option value="groove">Groove</option>
                    <option value="grunge">Grunge</option>
                    <option value="guitar">Guitar</option>
                    <option value="happy">Happy</option>
                    <option value="hard-rock">Hard Rock</option>
                    <option value="hardcore">Hardcore</option>
                    <option value="hardstyle">Hardstyle</option>
                    <option value="heavy-metal">Heavy Metal</option>
                    <option value="hip-hop">Hip-Hop</option>
                    <option value="holidays">Holidays</option>
                    <option value="honky-tonk">Honky-Tonk</option>
                    <option value="house">House</option>
                    <option value="idm">IDM</option>
                    <option value="indian">Indian</option>
                    <option value="indie">Indie</option>
                    <option value="indie-pop">Indie Pop</option>
                    <option value="industrial">Industrial</option>
                    <option value="iranian">Iranian</option>
                    <option value="j-dance">J-Dance</option>
                    <option value="j-idol">J-Idol</option>
                    <option value="j-pop">J-Pop</option>
                    <option value="j-rock">J-Rock</option>
                    <option value="jazz">Jazz</option>
                    <option value="k-pop">K-Pop</option>
                    <option value="kids">Kids</option>
                    <option value="latin">Latin</option>
                    <option value="latino">Latino</option>
                    <option value="malay">Malay</option>
                    <option value="mandopop">Mandopop</option>
                    <option value="metal">Metal</option>
                    <option value="metal-misc">Metal Misc</option>
                    <option value="metalcore">Metalcore</option>
                    <option value="minimal-techno">Minimal Techno</option>
                    <option value="movies">Movies</option>
                    <option value="mpb">MPB</option>
                    <option value="new-age">New Age</option>
                    <option value="new-release">New Release</option>
                    <option value="opera">Opera</option>
                    <option value="pagode">Pagode</option>
                    <option value="party">Party</option>
                    <option value="philippines-opm">Philippines OPM</option>
                    <option value="piano">Piano</option>
                    <option value="pop">Pop</option>
                    <option value="pop-film">Pop Film</option>
                    <option value="post-dubstep">Post-Dubstep</option>
                    <option value="power-pop">Power Pop</option>
                    <option value="progressive-house">Progressive House</option>
                    <option value="psych-rock">Psych Rock</option>
                    <option value="punk">Punk</option>
                    <option value="punk-rock">Punk Rock</option>
                    <option value="r-n-b">R&B</option>
                    <option value="rainy-day">Rainy Day</option>
                    <option value="reggae">Reggae</option>
                    <option value="reggaeton">Reggaeton</option>
                    <option value="road-trip">Road Trip</option>
                    <option value="rock">Rock</option>
                    <option value="rock-n-roll">Rock n Roll</option>
                    <option value="rockabilly">Rockabilly</option>
                    <option value="romance">Romance</option>
                    <option value="sad">Sad</option>
                    <option value="salsa">Salsa</option>
                    <option value="samba">Samba</option>
                    <option value="sertanejo">Sertanejo</option>
                    <option value="show-tunes">Show Tunes</option>
                    <option value="singer-songwriter">Singer-Songwriter</option>
                    <option value="ska">Ska</option>
                    <option value="sleep">Sleep</option>
                    <option value="songwriter">Songwriter</option>
                    <option value="soul">Soul</option>
                    <option value="soundtracks">Soundtracks</option>
                    <option value="spanish">Spanish</option>
                    <option value="study">Study</option>
                    <option value="summer">Summer</option>
                    <option value="swedish">Swedish</option>
                    <option value="synth-pop">Synth-Pop</option>
                    <option value="tango">Tango</option>
                    <option value="techno">Techno</option>
                    <option value="trance">Trance</option>
                    <option value="trip-hop">Trip-Hop</option>
                    <option value="turkish">Turkish</option>
                    <option value="work-out">Work-Out</option>
                    <option value="world-music">World Music</option>
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </form>
        {% if link_spotify %}
            <div class="alert alert-success" role="alert">Résultat: {{ result }}</div>
            <div>Playlist Spotify : <a href="{{ link_spotify }}" target="_blank">Cliquez ici pour ouvrir la playlist</a></div>
        {% else %}
            <div class="alert alert-success" role="alert">Résultat: {{ result }}</div>
        {% endif %}
        
    </div>
    <script>
    $(function() {
        function autocompletion(elementId, latFieldId, lngFieldId) {
            $(`#${elementId}`).autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: `https://api-adresse.data.gouv.fr/search/?q=${encodeURIComponent(request.term)}`,
                        type: 'GET',
                        success: function(data) {
                            response($.map(data.features, function(item) {
                                return {
                                    label: item.properties.label,
                                    value: item.properties.label,
                                    lat: item.geometry.coordinates[1],
                                    lng: item.geometry.coordinates[0]
                                };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function(event, ui) {
                    $(`#${elementId}`).val(ui.item.value);
                    $(`#${latFieldId}`).val(ui.item.lat);
                    $(`#${lngFieldId}`).val(ui.item.lng);
                    return false;
                }
            });
        }
        autocompletion("start_address", "start_lat", "start_lng");
        autocompletion("end_address", "end_lat", "end_lng");
    });
    </script>
</body>
</html>
